@import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
        /*width: 360px;*/
        width: 441px;
        padding: 8% 0 0;
        margin: auto;
        }

        .form {
                height: 278px;
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        /*margin: 0 auto 100px;*/
        /*padding: 45px;*/
                padding: 63px;
        text-align: center;
        /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/

                /*width: 100%; height: 100%;*/ background: rgba(255, 255, 255, 0.25); box-shadow: 4px 9px 50px -1px rgba(0, 0, 0, 0.25); border-radius: 31px; border: 2px white solid; backdrop-filter: blur(60px)
        }

        .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
                border-radius: 7px;
                margin: 11px 0px;
        }

        .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgba(22, 20, 143, 1);
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
                margin-top: 12px;
                border-radius: 5px;
        }

        .form button:hover,.form button:active,.form button:focus {
        background: #001AFF;
        }

        .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        }

        .form .message a {
        color: #001AFF;
        text-decoration: none;
        }

        .form .register-form {
        display: none;
        }

        .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
        }

        .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
        }

        .container .info {
        margin: 50px auto;
        text-align: center;
        }

        .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
        }

        .form h2 {
        color: #001AFF!important;
                font-weight: 700;
                margin-top: -9px;
                margin-bottom: 28px;
                font-size: 28px;
        }


        .container .info span {
        color: #4d4d4d;
        font-size: 12px;
        }

        .container .info span a {
        color: #000000;
        text-decoration: none;
        }

        .container .info span .fa {
        color: #EF3B3A;
        }

        body#login {
                /*background-image: url(http://tyrolium.fr/Contenu/Image/Background6.png);*/
                background-image: url(https://tyrolium.fr/Contenu/Image/launcher/Launcher.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;


                /*background: #76b852; /* fallback for old browsers
                background: -webkit-linear-gradient(right, #76b852, #8DC26F);
                background: -moz-linear-gradient(right, #76b852, #8DC26F);
                background: -o-linear-gradient(right, #76b852, #8DC26F);
                background: linear-gradient(to left, #76b852, #8DC26F);*/
        }
        body {

        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

                background-color: #121212;
                color: #ededed;
                padding: 0;
                margin: 0;
        }

        .down-form{
                margin-top: 27px;
        }

        .down-form a:first-child {
                text-decoration: unset;
        }
        .down-form a{
                color: #001AFF;
                font-weight: 700;
        }

.block-rodonite {
        width: 120px;
        height: 120px;
        margin-left: 139px;
        margin-top: -87px;
        transform: rotate(-16.38deg);
        transform-origin: 0 0;
        position: absolute;

        /* Animation */
        animation: moveUpDown1 2s ease-in-out infinite alternate; /* Nom de l'animation, durée, fonction de temporisation, itération */

        /* Assurer que l'image est affichée en tant que bloc */
        /*display: block;*/
}

/* Définir l'animation */
@keyframes moveUpDown1 {
        0% {
                transform: rotate(-16.38deg) translateY(0); /* Position de départ - aucune translation */
        }
        100% {
                transform: rotate(-16.38deg) translateY(10px); /* Position finale - déplacer de 20px vers le bas */
        }
}

        .block-tyrolium{
                margin-left: -242px;
                margin-top: -29px;
                position: absolute;
                width: 130px;
                height: 130px;
                transform: rotate(20.43deg);
                transform-origin: 0 0;

                animation: moveUpDown2 2s ease-in-out infinite alternate;
        }

/* Définir l'animation */
@keyframes moveUpDown2 {
        0% {
                transform: rotate(20.43deg) translateY(0); /* Position de départ - aucune translation */
        }
        100% {
                transform: rotate(20.43deg) translateY(10px); /* Position finale - déplacer de 20px vers le bas */
        }
}