/******************
      GENERAL
*******************/

body#mods main {
    font-family: Poppins;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
h2.mods-title{
    font-size: 19px;
    margin: 25px;
}

h2.mods-title i{
    color: red;
}

/******************
        MODS
*******************/

article.article-mods{
    width: 100%;
    height: 112px;
    background-color: #1e1e1e;
    margin-bottom: 22px;

    display: flex;
    border-radius: 10px;
}
/* PHOTO DU MOD */
.pp-mod{
    width: 129px;
    height: 112px;
    background-color: red;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

/* INFO DU MODE*/

.info-mod{
    flex: 1;
}

.info-mod h2{
    color: white;
    font-size: 25px;
    font-weight: 700;

    margin-top: 10px;
    margin-bottom: 0px;
}

.info-mod h2 span{
    font-size: 12px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 0px;
}

.info-mod p{
    color: white;
    font-size: 18px;
    font-weight: 200;

    margin-top: -2px;
    margin-bottom: 0px;
}

.info-mod p i{
    color: blue;
}

.info-mod .link-mod{
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.info-mod .link-mod .btn-link-mod{
    font-size: 12px;
    background-color: #292929;
    border-radius: 4px;
    padding: 5px;
}

.info-mod .link-mod .btn-link-mod:hover{
    background-color: #3f3f3f;
}


/* BTN DU MODE*/

.btn-mod {
    /*background: red;*/
    margin-left: auto;
}
.btn-mod .socle-btn-mod{
    margin-top: 21px;
    margin-right: 10px;
    background: #292929;
    width: 275px;
    height: 70px;
    border-radius: 10px;
    display: flex;
}

.btn-mod .socle-btn-mod button{
    width: 50%;
    font-size: 18px;
    background: transparent;
    border: none;
    color: white;
    font-weight: 500;
}

.btn-mod .socle-btn-mod button.desactive{
    text-decoration: line-through;
    color: #7E7E7E;
}

.btn-mod .socle-btn-mod button.active:first-child{
    background: #4b2222;
    color: #ff4c4c;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-mod .socle-btn-mod button.active:last-child{
    background: #13452d;
    color: #05d057;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-mod .socle-btn-mod button:focus,
.btn-mod .socle-btn-mod button:active {
    outline: unset;
}