/************************************

            UP LEFT

*************************************/

#PP{
    width: 114px;
    height: 114px;
    left: 29px;
    top: 80px;
    position: absolute;
    box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.25);
    border-radius: 133px;
    background-size: contain;
    background-color: white
}

#pseudo{
    left: 163px;
    top: 113px;
    position: absolute;
    color: white;
    font-size: 34px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.85px;
    word-wrap: break-word;

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#useritium-pseudo{
    left: 164px;
    top: 91px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.35px;
    word-wrap: break-word
}

#stats-perso{
    height: 27px;
    width: 500px;
    /*background-color: red;*/
    left: 163px;
    top: 168px;
    position: absolute;
    display: flex;
    gap: 6px;
}

#up-left .perso-tag{
    border-radius: 9px;
    display: none;
    text-transform: capitalize;
}

#up-left .perso-tag-text{
    color: white;
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: 400;
    padding: 4px;
    margin: 0;
}

#grade-user{
    background: #850000;
}

#level-user{
    background: #268500;
}

#money-user{
    background: #c28c04;
}

#faction-user{
    background: #030085;
}

.show-tag{
    display: initial!important;
}

/************************************

            UP RIGHT

*************************************/
#name-serv{
    left: 937px;
    top: 100px;
    position: absolute;
    color: #1400FF;
    font-size: 27px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 0.68px;
    word-wrap: break-word
}

#type-serv{
    left: 839px;
    top: 130px;
    position: absolute;
    color: white;
    font-size: 34px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 0.85px;
    word-wrap: break-word
}

#img-serv{
    width: 151px;
    height: 151px;
    left: 1104px;
    top: 59px;
    position: absolute;
}

/************************************

            ICONE LEFT

*************************************/

#icone-left .icone-left{
    color: white;
    font-size: 24px;
}

#icone-left .btnleft{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px; height: 24px; left: 74px;
}

#separebar{
    width: 38px; height: 0px; left: 105px; top: 288px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1px white solid
}

#useritium-account{
    width: 25px; height: 25px; left: 73px; top: 214px; position: absolute; box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.25); border-radius: 133px
}

#setting.btnleft{
    top: 250px;
}
#link.btnleft{top: 300px;}
#discord.btnleft{top: 330px;}
#instagram.btnleft{top: 360px;}
#twitter.btnleft{top: 390px;}
#youtube.btnleft{top: 420px;}
#tiktok.btnleft{top: 450px;}
#linkedin.btnleft{top: 480px;}

#tyroliumsite{
    width: 22px; height: 19px; left: 76px; top: 514px; position: absolute
}




/************************************

            SELECT SERV

*************************************/

#selectplay{

}

#selectplay #barChoose{
    width: 11px;
    height: 58px;
    left: 1182px;
    top: 280px;
    position: absolute;
    background: #1400FF;
    border-radius: 14px;
    transition: top 0.3s ease-in-out;
}

#selectplay #backServAll{
    width: 91px;
    height: 298px;
    left: 1199px;
    top: 243px;
    position: absolute;
    background: #1C1C1C;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

#selectplay img{
    width: 49px;
    height: 49px;
}

#selectplay #serv-faction{
    width: 71px;
    height: 71px;
    left: 1209px;
    top: 273px;
    position: absolute;
    background: #4E4E4E;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectplay #serv-game{
    width: 71px;
    height: 71px;
    left: 1209px;
    top: 356px;
    position: absolute;
    background: #4E4E4E;
    border-radius: 14px;display: flex;
    justify-content: center;
    align-items: center;
}
#selectplay #serv-vanilla{
    width: 71px;
    height: 71px;
    left: 1209px;
    top: 439px;
    position: absolute;
    background: #4E4E4E;
    border-radius: 14px;display: flex;
    justify-content: center;
    align-items: center;
}






/************************************

            DOWN PANEL

*************************************/

#down-panel{
    width: 100%;
    /*height: 90px;*/
    /*height: 50%;*/
    /*height: 58%;*/
    position: fixed;
    bottom: 0;
    /*background: linear-gradient(transparent 15%, rgb(0 0 0 / 78%) 78%);*/
    background: linear-gradient(transparent 31%, rgb(0 0 0 / 78%) 82%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    transition: padding-bottom 0.5s ease-in-out;
}


#down-panel.up{
    padding-bottom: 55px;
}

#downbar{
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 35px;
    gap: 41px;

}

#player,
#minecraft{
    margin-right: 30px;
}
#shop{
    margin-left: 30px;
}

#downbar h3{
    width: 148px;
}


#downbar .btn:hover {

    text-decoration: underline;
    /*border-bottom: 1px solid white;*/

}


#toggleButton{
    background: transparent;
    border: unset;
    outline: unset;
}

#toggleButton i {
    color: white;
    font-size: 50px;
}

#play{width: 335px;
    text-transform: uppercase;
    color: white;
    font-size: 55px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 1.38px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#progressBar{
    height: 50px; /*border: 2px solid white; */
    margin: 0px 50px;
    color: white;
    background: rgba(217, 217, 217, 0.16);
    border-radius: 11px;
}

#progressBar div#slide{
    height: 50px;
    width: 1%;
    color: black;
    background: white;
    border-radius: 11px;

    position: absolute;
}

#progressBar div#slide p{
    font-size: 25px;
    padding-top: 10px;
    font-weight: 800;

    position: absolute;
    top: -24px;
}


#ping,
#player{
    display: flex;
    justify-content: center;
}

#ping #cercle{
    margin-left:8px;
    background: #00ff00;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}


.menu {
    position: absolute;
    top: 53px;
    left: 337px;
    background-color: #121212;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding: 5px;
    display: none;
    z-index: 1;
    color: white;
}

#ping:hover #menu {
    display: block;
}
#player #joueur{
    border-radius: 9px;
    background-color: #002D85;
    width: 71px;
    /*width: 58px;*/
    height: 23px;
    margin-left: 6px;
}

#player #joueur p{
    margin: 0;
    padding: 4px;
    font-size: 13px;
    color: white;
}

.iziToast-wrapper-topCenter{
    margin-top: 40px;
}