#up-panel{
    width: 100%;
    height: 73px;
    /*background-color: #121212;*/
    position: fixed;
    top: 46px;
}

#middle-panel{


    width: 100%;
    /*height: 100vh;*/

    padding: 0;
    margin: 0;

}

#down-panel{
    width: 100%;
    /*height: 90px;*/
    /*height: 50%;*/
    height: 58%;
    position: fixed;
    bottom: 0;
    /*background: linear-gradient(transparent 15%, rgb(0 0 0 / 78%) 78%);*/
    background: linear-gradient(transparent 31%, rgb(0 0 0 / 78%) 82%);
}

#play{
    text-transform: uppercase;
    color: white;
    font-size: 55px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 1.38px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 222px;
}

#progressBar{
    height: 40px; /*border: 2px solid white; */
    margin: 50px; color: white;
    background: rgba(217, 217, 217, 0.16); border-radius: 11px
}

#progressBar div#slide{
    height: 40px;
    width: 1%;
    color: black;
    background: white;
    border-radius: 11px;
}

#progressBar div#slide p{
    font-size: 25px;
    padding-top: 5px;
    font-weight: 800;
}